**.DS_Store
**/jacquesfauquex.xcuserdatad
.DS_Store
**/pcs.xcuserdatad
3.Ejecutables/converters/converters.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
3.Ejecutables/converters/converters.xcodeproj/project.xcworkspace/contents.xcworkspacedata
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcdebugger/Breakpoints_v2.xcbkptlist
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/cdamwldicom.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/coercedicom.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/D2D.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/D2J.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/DCKV.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/DsourceJ.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/H2D.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/J2D.xcscheme
3.Ejecutables/converters/converters.xcodeproj/xcshareddata/xcschemes/M2.xcscheme
3.Ejecutables/converters/converters.xcodeproj/project.pbxproj
3.Ejecutables/converters/converters.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
3.Ejecutables/converters/converters.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/WorkspaceSettings.xcsettings
3.Ejecutables/converters/converters.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
3.Ejecutables/converters/converters.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
3.Ejecutables/converters/installerPassword.sh
